@use "../variable/variable" as var;
@use "../mixins//mixins" as *;

.companies-description {
    @include space-y(3rem);
    margin: 3rem 0;
    background: var(--section-color);
    border-radius: 2rem;
    padding: 2rem 0;
    @include align-center(80%, fit-content, column);
    overflow: hidden;

    @media screen and (max-width: 768px) {
        @include align-center(100%, fit-content, column);
    }

    h3 {
        font-weight: 600;
        font-size: var.$text-lg;
        line-height: 1.6;

        @include respond-to("sm") {
            font-size: var.$text-xl;
            font-weight: 600;
        }
        @include respond-to("lg") {
            font-size: var.$text-xl;
            font-weight: 700;
        }
    }

    div:nth-of-type(1),
    div:nth-of-type(2) {
        display: flex;
        gap: 5rem;
        white-space: nowrap;
        @include align-center(fit-content, fit-content, row);
        animation: slide 20s linear infinite;

        @include respond-to("sm") {
            gap: 11rem;
        }
        
        @include respond-to("lg") {
            gap: 9rem;    
        }


        div {
            width: 4rem;

            @include respond-to("sm") {
                width: 7rem;
            }

            @include respond-to("md") {
                width: 9rem;
            }
        }
    }

    div:nth-of-type(2) {
        animation-direction: reverse;
    }
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-30%);
    }
}
