@use "../variable/variable" as var;
@use "../mixins/mixins" as *;

.header-div {
    display: flex;
    height: 4.2rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    padding: 0.25rem 1rem;
    margin-bottom: 1.3rem;
    border-bottom: 1px solid var(--text-color);

    .header-logo {
        display: flex;
        cursor: pointer;
        gap: 2px;
        @include align-center(fit-content, fit-content, row);

        .logo-text {
            font-weight: 700;
            font-size: var.$text-3xl;
        }
    }

    .header-middle {
        @include align-center(fit-content, fit-content, row);

        @media screen and (max-width: 768px) {
            display: none;
        }
        ul {
            display: flex;
            cursor: pointer;
            gap: 15px;
            font-size: var.$text-md;
            font-weight: 500;
            color: var(--text-color);

            @media screen and (min-width: 768px) {
                margin-right: calc(0.75rem /* 12px */ * var(--tw-space-x-reverse));
                margin-left: calc(0.75rem /* 12px */ * calc(1 - var(--tw-space-x-reverse)));
            }

            @media screen and (min-width: 1024px) {
                font-size: var.$text-xl;
            }

            div {
                li {
                    &:hover {
                        color: #888;
                        &::after {
                            display: flex;
                            content: "";
                            width: 100%;
                            border: 1px solid black;
                        }
                    }
                }
            }
        }
    }

    .header-end {
        @include align-center(fit-content, fit-content, row);
        gap: 9px;

        @media screen and (max-width: 768px) {
            display: none;
        }
    }
}
