@use "../mixins/mixins" as *;

.range-component {
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 2rem 3.5rem 2rem;
    background: var(--section-color);
    border-radius: 2rem;
    margin-top: 4rem;
    @include space-x(2rem);

    @media screen and (max-width: 1024px) {
        @include align-center(max-content, max-content, column);
        flex-direction: column;
        width: 100%;
    }

    div:nth-of-type(1) {
        // margin-bottom: 6rem;
        h1 {
            text-align: left;
            margin-bottom: 20px;
        }

        p {
            width: 32vw;
        }
    }

    div:nth-of-type(2) {
        @include align-center(100%, max-content, column);
        padding-top: 48px;
        background: var(--background-color);
        width: 1150px;
        height: 21rem;
        border-radius: 2rem;
        border: 1px solid #e2dfdf;

        @media screen and (max-width: 1024px) {
            width: 600px;
        }
        @media screen and (max-width: 768px) {
            width: 330px;
        }
    }
}
