
@use '../mixins/mixins' as *;

.second-hero {
    position: relative;
    img.straight-image {
        position: absolute;
        top: 4.6rem;
        left: 9rem;
        // left: 1rem;
    }

    &__hero-duplicate {

        @include align-center(100%, 100%, row);
    }
}

.padding {
    padding-top: 80px;
}