@use "../mixins/mixins" as mix;

.second-hero {
    position: relative;

    &__header {
        h1 {
            padding-bottom: 20px;
            @include mix.respond-to("md") {
                padding-bottom: 34px;
            }
        }
    }
    img.straight-image {
        position: absolute;
        top: 4.125rem;
        left: 1.8rem;
        width: 180px;

        @include mix.respond-to("md") {
            position: absolute;
            top: 4.6rem;
            left: 15rem;
            width: 320px;
        }
    }

    &__hero-duplicate {
        @include mix.align-center(100%, 100%, row);
    }
}

.padding {
    padding-top: 0px;
    @include mix.respond-to("lg") {
        padding-top: 60px;
    }
}
