@use "../mixins/mixins" as mix;
@use "../variable/variable" as var;

.yellow-container {
    @include mix.space-y(40px);

    .map-div {
        display: flex;
        // @include align-center(310px, fit-content, row);

        img {
            width: 2rem;
            height: 2rem;
        }
        .yellow-bg {
            // padding: 14px 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            font-weight: bold;
            font-smooth: inherit;
            padding: 4px;
            border-radius: 100%;
            background: var(--secondary-color);
            color: var(--primary-color);
            margin-right: 8px;

            @media screen and (max-width: 768px) {
                padding: 4px 12px;
            }
        }

        .text-wrapper {
            display: flex;
            flex-direction: column;
        }

        .yellow-title {
            // display: block;
            font-weight: 800;
            font-size: var.$text-xl;
        }
        .yellow-text {
            font-weight: normal;
            font-size: 1.1rem;
            line-height: 1.6;
        }
    }
}
