@use "../mixins/mixins" as *;

.features_component {
    @include align-center(100%, 100vh, column);
    @media screen and (max-width: 768px) {
        min-height: 100vh;
    }
    .features_title {
        text-align: center;
        padding-bottom: 50px;
    }

    .features_content {
        display: flex;
        gap: 65px;

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
        div {
            padding: 1.4rem 2rem;
            border-radius: 1.3rem;
            background: var(--section-color);

            .features_image {
                background: var(--secondary-color);
                width: 80px;
                height: 80px;
                display: flex;
                justify-content: center;
                margin-bottom: 85px;
                align-items: center;
                padding: 0;
            }

            h4 {
                font-weight: 600;
                font-size: 1.7rem;
            }

            p {
                color: var(--text-color);
            }
        }
    }
}
