@use "../mixins/mixins" as mix;

.getStarted_section {
    background: #000;
    margin-top: 40px;
    border-radius: 2rem;
    
    @include mix.respond-to("md") {
        @include mix.align-center(90%, fit-content, row);
        margin-top: 80px;

    }

    .getStarted_article {
        width: 100%;
        padding: 50px 15px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        
        @include mix.respond-to("md") {
            width: 45%;
            height: fit-content;
            align-items: flex-start;
            gap: 50px;

        }

        h1 {
            color: #fff;
            text-align: left;

            @include mix.respond-to("sm") {
                text-align: center;
            }
            @include mix.respond-to("md") {
                text-align: left;
            }
        }
    }
}
