@use "../mixins/mixins" as *;
@use "../variable/variable" as var;

.questions_section {
    @include align-center(100%, 100vh, column);
    gap: 2rem;

    p {
        color: var(--text-color);
    }

    &__top_text {
        font-size: var.$text-2xl;
        padding-bottom: 40px;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 100fr);
        gap: 2rem;
        grid-template-rows: repeat(2, 100fr);

        div {
            h4 {
                font-size: 1.6rem;
                font-weight: 600;
            }
        }
    }
}
