@mixin button-style($bg-color, $text-color: white, $padding: 1rem 2rem, $hover: #777) {
    background-color: $bg-color;
    color: $text-color;
    padding: $padding;
    border-radius: 4.5rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        color: var(--primary-color);
    }
}

@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (min-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    } @else {
        @warn "Breakpoint '#{$breakpoint}' not found in \$breakpoints map.";
    }
}

@mixin align-center($width: 100%, $height, $flex-direction) {
    width: $width;
    min-height: $height;
    display: flex;
    flex-direction: $flex-direction;
    justify-content: center;
    align-items: center;
}

@mixin space-x($spacing) {
    display: flex;

    > *:not(:last-child) {
        margin-right: $spacing;
    }
}
@mixin space-y($spacing) {
    display: flex;
    flex-direction: column;

    > *:not(:last-child) {
        margin-bottom: $spacing;
    }
}
