$text-sm: 0.4rem;
$text-md: 0.65rem;
$text-lg: 0.85rem;
$text-xl: 1.1rem;
$text-2xl: 1.35rem;
$text-3xl: 1.875rem;
$text-4xl: 2.25rem;
$text-5xl: 3rem;
$text-6xl: 4rem;
$text-7xl: 5rem;
$text-8xl: 6rem;
$text-9xl: 8rem;

h1 {
    font-size: $text-6xl;
}

