$text-sm: 0.4rem;
$text-md: 0.65rem;
$text-lg: 0.95rem;
$text-xl: 1.1rem;
$text-2xl: 1.35rem;
$text-3xl: 1.875rem;
$text-4xl: 2.25rem;
$text-5xl: 3.3rem;
$text-6xl: 4rem;
$text-7xl: 5rem;
$text-8xl: 6rem;
$text-9xl: 8rem;

@mixin bold-header($line-height) {
    font-size: $text-7xl;
    font-weight: 700;
    font-style: normal;
    line-height: 1rem;
}

@mixin semibold-header($line-height: 1rem) {
    font-size: $text-5xl;
    font-weight: 800;
    font-style: normal;
    line-height: $line-height;
}

h1 {
    @include semibold-header(3.6rem);
    text-align: center;
    letter-spacing: -0.03em;
    font-weight: 600;

    @media screen and (max-width: 768px) {
        font-size: $text-3xl;
    }
}

p {
    font-weight: 600;
    font-size: $text-lg;
    letter-spacing: -0.03em;
}

h2 {
    font-size: $text-5xl;
    line-height: 3.5rem;
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
}
h3 {
    font-size: $text-3xl;
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
}
h4 {
    font-size: $text-xl;
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
}
h5 {
    font-size: $text-lg;
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
}
