/* Tailwind Setup */
@import url("react-toastify/dist/ReactToastify.css");
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Library CSS import */
@layer base {
  /* Specify default font below */
  html {
    font-family: "Manrope", sans-serif;
  }
  /* Daisy UI Resets */
  /* =========================== */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
  /* =========================== */
}
:root {
  --primary-color: #000;
  --secondary-color: #f9cf01;
  --accent-color: #e74c3c;
  --text-color: #737373;
  --background-color: #fff;
  --section-color: #F9F7F2;
}

h1 {
  font-family: "Manrope", sans-serif;
}

.header-div {
  display: flex;
  height: 4.2rem;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem 1rem;
  margin-bottom: 1.3rem;
  border-bottom: 1px solid var(--text-color);
}
.header-div .header-logo {
  display: flex;
  cursor: pointer;
  gap: 2px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header-div .header-logo .logo-text {
  font-weight: 700;
  font-size: 1.875rem;
}
.header-div .header-middle {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .header-div .header-middle {
    display: none;
  }
}
.header-div .header-middle ul {
  display: flex;
  cursor: pointer;
  gap: 15px;
  font-size: 0.65rem;
  font-weight: 500;
  color: var(--text-color);
}
@media screen and (min-width: 768px) {
  .header-div .header-middle ul {
    margin-right: calc(0.75rem * var(--tw-space-x-reverse));
    margin-left: calc(0.75rem * (1 - var(--tw-space-x-reverse)));
  }
}
@media screen and (min-width: 1024px) {
  .header-div .header-middle ul {
    font-size: 1.1rem;
  }
}
.header-div .header-middle ul div li:hover {
  color: #888;
}
.header-div .header-middle ul div li:hover::after {
  display: flex;
  content: "";
  width: 100%;
  border: 1px solid black;
}
.header-div .header-end {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 9px;
}
@media screen and (max-width: 768px) {
  .header-div .header-end {
    display: none;
  }
}

.yellow-container {
  display: flex;
  flex-direction: column;
}
.yellow-container > *:not(:last-child) {
  margin-bottom: 40px;
}
.yellow-container .map-div {
  display: flex;
}
.yellow-container .map-div img {
  width: 2rem;
  height: 2rem;
}
.yellow-container .map-div .yellow-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 4px;
  border-radius: 100%;
  background: var(--secondary-color);
  color: var(--primary-color);
  margin-right: 8px;
}
@media screen and (max-width: 768px) {
  .yellow-container .map-div .yellow-bg {
    padding: 4px 12px;
  }
}
.yellow-container .map-div .text-wrapper {
  display: flex;
  flex-direction: column;
}
.yellow-container .map-div .yellow-title {
  font-weight: 800;
  font-size: 1.1rem;
}
.yellow-container .map-div .yellow-text {
  font-weight: 500;
}

.hero-section {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}
.hero-section.flex-row {
  flex-direction: row;
}
@media screen and (max-width: 768px) {
  .hero-section.flex-row {
    flex-direction: column;
  }
}
.hero-section.flex-row-reverse {
  flex-direction: row-reverse;
}
@media screen and (max-width: 768px) {
  .hero-section.flex-row-reverse {
    flex-direction: column;
  }
}
.hero-section div:nth-of-type(1) div:nth-of-type(1) {
  position: relative;
}
.hero-section div:nth-of-type(1) div:nth-of-type(1) h1 {
  font-size: 4rem;
  padding-bottom: 1.6rem;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .hero-section div:nth-of-type(1) div:nth-of-type(1) h1 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 450px) {
  .hero-section div:nth-of-type(1) div:nth-of-type(1) h1 {
    font-size: 2.25rem;
  }
}
.hero-section div:nth-of-type(1) div:nth-of-type(1) img.round-img {
  position: absolute;
  top: 4.5rem;
  left: -2.3rem;
}
@media screen and (max-width: 768px) {
  .hero-section div:nth-of-type(1) div:nth-of-type(1) img.round-img {
    width: 16rem;
    top: 10.9rem;
    left: 4.2rem;
  }
}
@media screen and (max-width: 450px) {
  .hero-section div:nth-of-type(1) div:nth-of-type(1) img.round-img {
    width: 12rem;
    top: 10.6rem;
    left: 4.7rem;
  }
}
.hero-section div:nth-of-type(1) div:last-child {
  padding-bottom: 1rem;
}
.hero-section div:nth-of-type(2) .hero-img {
  border-radius: 2rem;
}

.butn {
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  border-radius: 4.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transition: ease-out 0.3s;
  outline: none;
  box-shadow: inset 0 0 0 0 #f7f7f7;
  width: 195px;
}
.butn:hover {
  color: var(--primary-color);
}
.butn:hover::after {
  display: flex;
  content: "";
  width: 100%;
  border: 1px solid black;
}

.butn:hover {
  box-shadow: inset 195px 0 0 0 #f7f7f7;
}

.white_butn {
  background-color: white;
  color: black;
  padding: 1rem 2rem;
  border-radius: 4.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.white_butn:hover {
  color: var(--primary-color);
}
.white_butn:hover::after {
  display: flex;
  content: "";
  width: 100%;
  border: 1px solid black;
}

.companies-description {
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
  background: var(--section-color);
  border-radius: 2rem;
  padding: 2rem 0;
  width: 80%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.companies-description > *:not(:last-child) {
  margin-bottom: 3rem;
}
@media screen and (max-width: 768px) {
  .companies-description {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.companies-description h3 {
  font-size: 1.1rem;
  font-weight: 700;
}
.companies-description div:nth-of-type(1),
.companies-description div:nth-of-type(2) {
  display: flex;
  gap: 9rem;
  white-space: nowrap;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation: slide 20s linear infinite;
}
@media screen and (max-width: 768px) {
  .companies-description div:nth-of-type(1),
  .companies-description div:nth-of-type(2) {
    gap: 3rem;
  }
}
.companies-description div:nth-of-type(1) div,
.companies-description div:nth-of-type(2) div {
  width: 7rem;
}
@media screen and (max-width: 768px) {
  .companies-description div:nth-of-type(1) div,
  .companies-description div:nth-of-type(2) div {
    width: 4.6rem;
  }
}
.companies-description div:nth-of-type(2) {
  animation-direction: reverse;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-30%);
  }
}
.badge-div {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.badge-div .badge {
  background: var(--section-color);
  text-transform: uppercase;
  padding: 0.75rem;
  font-weight: 600;
}

.second-hero {
  position: relative;
}
.second-hero img.straight-image {
  position: absolute;
  top: 5.6rem;
}

.range-container {
  width: 50%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768) {
  .range-container {
    width: 50%;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.range-container label {
  font-size: 1.875rem;
  font-weight: 600;
}
.range-container .range-slider {
  background: var(--primary-color);
  color: var(--primary-color);
  width: 10rem;
  height: -moz-fit-content;
  height: fit-content;
}

.range-component {
  display: flex;
  flex-direction: row;
  width: 80%;
  padding: 2rem 3.5rem 2rem;
  background: var(--section-color);
  border-radius: 2rem;
  margin-top: 4rem;
  display: flex;
}
.range-component > *:not(:last-child) {
  margin-right: 2rem;
}
@media screen and (max-width: 1024px) {
  .range-component {
    width: -moz-max-content;
    width: max-content;
    height: -moz-max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
}
.range-component div:nth-of-type(2),
.range-component div:nth-of-type(1) {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.range-component div:nth-of-type(2) {
  background: var(--background-color);
  width: 1150px;
  height: 21rem;
  border-radius: 2rem;
  border: 1px solid #e2dfdf;
}
@media screen and (max-width: 1024px) {
  .range-component div:nth-of-type(2) {
    width: 600px;
  }
}
@media screen and (max-width: 768px) {
  .range-component div:nth-of-type(2) {
    width: 330px;
  }
}

.benefits-card {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
@media screen and (max-width: 1024px) {
  .benefits-card {
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr;
    gap: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .benefits-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
.benefits-card div {
  background: var(--section-color);
  border-radius: 2rem;
  padding: 1rem 2rem 1rem 1rem;
  width: 20%;
  min-height: 295px;
}
@media screen and (max-width: 1024px) {
  .benefits-card div {
    width: 100%;
  }
}
.benefits-card div img {
  padding-bottom: 3rem;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
  font-style: normal;
  line-height: 3.6rem;
  text-align: center;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.875rem;
  }
}

h2 {
  font-size: 3rem;
  font-weight: 500;
  font-style: normal;
  font-variant: normal;
}

h3 {
  font-size: 1.875rem;
  font-weight: 500;
  font-style: normal;
  font-variant: normal;
}

h4 {
  font-size: 1.1rem;
  font-weight: 500;
  font-style: normal;
  font-variant: normal;
}

h5 {
  font-size: 0.85rem;
  font-weight: 500;
  font-style: normal;
  font-variant: normal;
}

.benefits-component {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.savings-wrapper article {
  display: flex;
  height: -moz-max-content;
  height: max-content;
  align-items: center;
  gap: 2.5rem;
}

.number-counter-component__number-display {
  font-size: 4rem;
  font-weight: 500;
}/*# sourceMappingURL=index.css.map */